@use "sass:map";
@use "../theme";

.input {
	background: map.get(theme.$input, "bg");
	color: #757575;
	border: 1px solid #eee;
	border-radius: 3px;
	display: block;
	font-family: inherit;
	margin: 15px 0;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	transition: border 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-appearance: none;

	&:focus {
		border: 1px solid map.get(theme.$colors, "link");
		outline: 0;
	}
}
