@use "sass:map";
@use "../theme";
@use "util";

.base {
    color: map.get(theme.$base, "font-color");
    font: map.get(theme.$base, "font-size") map.get(theme.$base, "font");
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    p {
        line-height: map.get(theme.$base, "line-height");
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }

    h1 {
        font-size: 2.441rem;
    }

    h2 {
        font-size: 1.953rem;
    }

    h3 {
        font-size: 1.563rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.8rem;
    }

    a {
        @extend .anchor;
    }

    hr {
        @extend .hr;
    }
}

.modern {
    color: map.get(theme.$base, "font-color");
    font: map.get(theme.$base, "font-size") map.get(theme.$base, "font");
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    p {
        font-size: 1.05rem;
        line-height: map.get(theme.$base, "line-height");
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    h1 {
        font-size: 2.6179rem;
    }

    h2 {
        font-size: 2.0581rem;
    }

    h3 {
        font-size: 1.618rem;
    }

    h4 {
        font-size: 1.272rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.7862rem;
    }

    a {
        @extend .anchor;
    }

    hr {
        @extend .hr;
    }
}
