@use "sass:map";
@use "../theme.scss";

/*
  Function for returning color.

  Checks if $key exists in the $colors map,
  if so it gets the color value from the map
  and returns it.

  @param $key a string specifying the color you want.
  @return value of color in hex format.
*/

@function getcolor($key) {
    @if map.has-key(theme.$colors, $key) {
        @return map.get(theme.$colors, $key);
    }
}

/*
 * Color utility classes for background colors.
 */

.bg-default {
    background-color: getcolor("default");
}

.bg-dark {
    background-color: getcolor("dark");
}

.bg-info {
    background-color: getcolor("info");
}

.bg-safe {
    background-color: getcolor("safe");
}

.bg-warning {
    background-color: getcolor("warning");
}

.bg-alert {
    background-color: getcolor("alert");
}
