@use "sass:map";
@use "../theme";
@use "util";

@mixin grid-base {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: calc(theme.$main-padding * 2);

	@for $i from 1 through 12 {
		.col-#{$i} {
			grid-column: span $i;
		}
	}
}

.grid {
	@include grid-base;

	@media (width < map.get(theme.$container, "width-sm")) {
		display: block;
	}
}

.grid-sm {
	@include grid-base;
}

.container {
	box-sizing: border-box;
	max-width: map.get(theme.$container, "width");
	margin: 0 auto;
	padding: 0 theme.$main-padding;

	@media (width < map.get(theme.$container, "width-sm")) {
		width: 100%;
	}
}
