@use "sass:map";
@use "../theme";

/*
 * kernel.css utility classes.
 */

.anchor {
    color: map.get(theme.$util, "anchor-color");
    text-decoration: none;
    overflow-wrap: break-word;
}

.circle {
    border-radius: 50%;
}

.hr {
    background-color: map.get(theme.$util, "hr-bg");
    border: 0;
    border-radius: 50px;
    height: 1px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.section {
    margin: theme.$main-padding 0;
}

.section-lg {
    margin: theme.$main-padding * 2 0;
}

.content {
    padding: theme.$main-padding 0;
}

.content-lg {
    padding: theme.$main-padding * 2 0;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.center {
    margin: auto;
}

.center {
    margin: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.autowrap {
    overflow-wrap: break-word;
}

.rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.visible-sm {
	display: none;
}

.visible-lg {
	display: block;
}

/* For small screen sizes */
@media (max-width: map.get(theme.$container, "width-sm")) {
	.visible-sm {
		display: block;
	}

	.visible-lg {
		display: none;
	}
}
