/*
  Function for returning color.

  Checks if $key exists in the $colors map,
  if so it gets the color value from the map
  and returns it.

  @param $key a string specifying the color you want.
  @return value of color in hex format.
*/

getcolor(key) {
    if colors[key] {
        return colors[key];
    }
}

/*
  Loops over the $colors int a map,
  and creates a css class for each color.
*/

for key, value in colors {
    .bg-{key} {
        background-color: value !important;
    }
}
