.kernelcss {
    .slideshow {
        height: 400px;
        position: relative;
        width: 100%;

        .slide:not(:first-child) {
            display: none;
        }

        .prev, .next {
            font-family: monospace;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            color: #fff;
            position: absolute;
            top: 175px;
            font-size: 3.6em;
            margin: 0 15px;
            user-select: none;
        }

        .prev:hover, .next:hover {
            cursor: pointer;
        }

        .next {
            right: 0;
        }

        img {
            animation: slideshow 1s;
            height: 400px;
            object-fit: cover;
            width: 100%;
        }

        .nav {
            padding: 0;

            li {
                display: inline;
            }
        }
    }

    @keyframes slideshow {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;
        }
    }

}
