@use "sass:map";
@use "../theme";

.accordion {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 15px;

    details {
        padding: 15px 0;
    }

    details[open] {
        padding-bottom: 0;
    }

    details:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }
}
