@use "sass:map";
@use "../theme";

.code {
	background-color: #fafafa;
	border-radius: 5px;
	color: map.get(theme.$code, "color");
	display: inline-block;
	font-family: monospace;
	line-height: map.get(theme.$base, "line-height");

	&.code-block {
		background-color: map.get(theme.$code, "block-bg");
		box-sizing: border-box;
		color: map.get(theme.$code, "block-color");
		overflow-x: auto;
		padding: 15px;
		width: 100%;
	}
}
