@use "sass:map";
@use "../theme";

.footer {
	height: 200px;
	text-align: center;

	.nav {
		ul {
			li {
				a {
					color: map.get(theme.$footer, "link-color");
					font-size: 1.1em;
					margin-bottom: 15px;
					padding: 15px;
				}
			}
		}
	}
}

.footer-header {
	background: map.get(theme.$footer, "header-bg");
	color: map.get(theme.$footer, "header-color");
	font-size: 1.6em;
	line-height: 200px;
}
