@use "sass:map";
@use "../theme";

.notice {
    animation: fadein 0.5s;
    background: map.get(theme.$notice, "bg");
    border-radius: 3px;
    box-sizing: border-box;
    color: #212121;
    line-height: 40px;
    min-height: 40px;
    padding: 0 15px;
    width: 100%;
    z-index: 999;

    &.safe {
        background: map.get(theme.$notice, "safe-bg");
    }

    &.info {
        background: map.get(theme.$notice, "info-bg");
        color: map.get(theme.$notice, "color");
    }

    &.alert {
        background: map.get(theme.$notice, "alert-bg");
        color: map.get(theme.$notice, "color");
    }

    &.warning {
        background: map.get(theme.$notice, "warning-bg");
    }
}

.notice-close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
